body {
    color: rebeccapurple;
}

h1, h2, h3 {
    margin: 0 0 0.25em 0;
}

.cluster .namespaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em;
}

.namespace {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    flex-grow: 1;
}

.namespace h2 {
    text-align: center;
}

.namespace .apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em;
}

.app h3 {
    text-align: center;
}

.app .pods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app .pod {
    flex: 1;
    text-align: center;
}

.app {
    border: 1px solid black;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 5px;
    min-width: 100px;
}

.app h2 {
    text-align: center;
}

.pod {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.dot {
    height: 1em;
    width: 1em;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    margin: 0.2em;
}

.Failed .dot, .Offline .dot {
    background-color: red;
}

.Pending .dot {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.busy .dot {
    background-color: green;
}

.unhealthy .dot {
    background-color: gold;
}

