body {
    color: rebeccapurple;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

h1, h2, h3 {
    margin: 0 0 0.25em 0;
}

h1 {
    font-size: 1.5em;
}

#root {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header, footer {
    text-align: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    background-color: beige;
}

nav {
    position: absolute;
    padding-top: 0.2em;
    padding-left: 0.2em;
    height: 100vh;
    z-index: 1;
    background-color: beige;
    width: 200px;
    left: -200px;
    box-shadow: 5px 5px 5px 0 gray;
    transition: left ease-in-out .5s;
}

nav.show-nav {
    left: 0;
}

main {
    overflow: auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.cluster .namespaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em;
}

.cluster.disconnected .namespace {
    background-color: lightgray !important;
    filter: grayscale(100%);
    opacity: 60%;
}

.namespace {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.2em 1em 0.2em 1em;
    flex-grow: 1;
}

.namespace h2 {
    text-align: center;
    font-size: 1.2em;
}

.namespace .apps {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.25em;
}

.app h3 {
    text-align: center;
    font-size: 1em;
}

.app .pods {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app .pod {
    flex: 1;
    text-align: center;
}

.app {
    border: 1px solid black;
    padding-left: 0.25em;
    padding-right: 0.25em;
    border-radius: 5px;
    min-width: 100px;
}

.app h2 {
    text-align: center;
}

.pod {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

.dot {
    height: 1em;
    width: 1em;
    background-color: grey;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-block;
    margin: 0.2em;
}

.Failed .dot, .Offline .dot, .down .dot {
    background-color: darkred;
    animation: glowing-red 700ms infinite;
}

@keyframes glowing-red {
    0% {
        box-shadow: 0 0 3px firebrick;
    }
    50% {
        opacity: 80%;
        box-shadow: 0 0 10px indianred;
    }
    100% {
        box-shadow: 0 0 3px firebrick;
    }    
}

.Pending .dot {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.busy .dot, .healthy .dot {
    background-color: green;
}

.starting .dot {
    background-color: green;
    animation: glowing-green 700ms infinite;
}

@keyframes glowing-green {
    0% {
        box-shadow: 0 0 3px green;
    }
    50% {
        opacity: 80%;
        box-shadow: 0 0 10px darkgreen;
    }
    100% {
        box-shadow: 0 0 3px green;
    }
}

.unhealthy .dot {
    background-color: gold;
}

